<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <link rel="stylesheet" href="stylesheets/userPanel.css">
    <link rel="stylesheet" href="stylesheets/BeAlert.css">
</head>
<body>
<div class="header">
    <img src="images/people.png" id="header__img">
    <p>{{user}}</p>
</div>

<div class="menu">
    <ul class="menu__item">
        <li><img src="images/barrage_fill.png">我购买的订单<img class="enter" src="images/enter.png"></li>
        <li><img src="images/order_fill.png">我发布的订单<img src="images/enter.png" class="enter"></li>
        <li><img src="images/express.png">发布订单<img src="images/enter.png" class="enter"></li>
        <li><img src="images/itemSearch.png">  发现订单<img src="images/enter.png" class="enter"></li>
        <li><img src="images/cancel.png">退出登录<img src="images/enter.png" class="enter"></li>
        <li><img src="images/comment.png">联系我们<img src="images/enter.png" class="enter"></li>

    </ul>
</div>
<script src="javascripts/userPanel.js"></script>
</body>
</html>