*{
    margin: 0;
    padding:0;
}
html,body{
    height: 100%;
}
header{
    position: absolute;
    background-color: darkgray;
    width: 100%;
    font-size: 20px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.container{
    width: 100%;
    height: 100%;
    background-size: contain;
    background: url("../images/bg2.png");
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 90%;
    height: 152px;
    background-color: white;
}
.form>ul{
    list-style: none;
}
.p__style{
    height: 30px;
    padding: 10px;
    font-size: 20px;
    border-right: 1px solid lightgray;
}
.p__style--secondary{
    padding: 10px;
    font-size: 20px;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
input[type="text"],input[type="password"]
{
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    width: calc(100% - 61px - 24px);
    font-size: 20px;
    padding: 10px;
    height: 26px;
    vertical-align: top;
}
.captcha{
    display: inline-block;
    width: 60px;
    height: 50px;
    border-right: 1px solid lightgray;
}
.form__submit{
    -webkit-appearance: none;
    border-radius:0;
    width: 100%;
    height: 40px;
    display: block;
    background-color: white;
    font-size: 18px;
    background-color:lightgray;
    border: none;
}